* {
    padding: 0;
    margin: 0;
}

img {
    height: 60px;
    width: auto;
    margin-left: 30px;

}

nav {
    background-color: black;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav > h1{
    margin-left: 100px;
}   

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-left: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

hr {
    border: 2px solid black; 
    margin-bottom: 20px;
    width: 100%;
}

button{
    display: block;
    position: absolute;
    right:  1px;
}

.bn3 {
    background-color: black;
    padding: 0.5em 1.7em;
    margin: 10px 0px;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
  }
  
  .bn3:hover {
    color: white;
    background-color: rgb(243, 8, 8);
  }

.colunas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    padding-bottom: 30px;
}

h2 {
    margin: 5px 0; /* Adiciona um espaço entre os elementos h2 */
    padding: 5px;
}

.tabela {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;

    text-align: center;
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: separate; /* Alterado para 'separate' para que o border-spacing tenha efeito */
    border-spacing: 5px; /* Define o espaçamento entre as células */
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: #f3f3f3;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* função pra centralizar somente as notas */
.nota , .situacao{
    text-align: center;
}

label{
    font-weight: bold;
    font-size: 30px;
    display: block;
    margin-top: 10px;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}

th {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.linha {
    display: flex;
    justify-content: center;    
}

  /* Estilos para telas menores */
  
@media screen and (max-width: 1000px) {
    .container {
        margin-left: 0; /* Remove a margem à esquerda */
        flex-direction: column; /* Altera a direção do flexbox para coluna */
        padding-bottom: 100px;
    }
    .titulo {
        margin-top: 20px; /* Reduz o espaçamento superior */
    }
    .tabela {
        max-width: 100%; /* Faz a tabela ocupar toda a largura do container */
    }
    hr{
        width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-left: 0; /* Remove a margem à esquerda */
        flex-direction: column; /* Altera a direção do flexbox para coluna */
        padding-bottom: 100px;
    }
    .titulo {
        margin-top: 20px; /* Reduz o espaçamento superior */
    }
    .tabela {
        max-width: 100%; /* Faz a tabela ocupar toda a largura do container */
    }
    hr{
        width: 600px;
    }
}